* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #ddd;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

:root {
    --LightBlue: rgb(86, 86, 253);
    --LightGray: #757575;
}

.shopping-mini-cart {
    display: flex;
    justify-content: flex-end;
    background-color: #707070;
}

.shopping-mini-cart .mini-cart {
    background-color: #fff;
    width: 368px;
    height: 100vh;
}

/* Begin: Cart Top */
.mini-cart .cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 25px 23px;
    background-color: #f3f3f3;
    font-weight: bold;
}

.cart-top .title-top {
    font-size: 1.4rem;
    position: relative;
}

.cart-top .title-top > sup {
    --sizeCounter: 18px;
    background-color: var(--LightBlue);
    color: #fff;
    font-size: 0.8rem;
    width: var(--sizeCounter);
    height: var(--sizeCounter);
    text-align: center;
    line-height: var(--sizeCounter);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -22px;
}

.cart-top > .xmark {
    width: 23px;
    height: 23px;
    background-color: orangered;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    line-height: 26px;
}
/* End: Cart Top */

.cart-center {
    height: 275px;
    overflow: auto;
}

/* Begin: Product */
.cart-center .product {
    padding: 25px 23px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: var(--LightGray);
}

.cart-center .product:not(.product:first-of-type) {
    border-top: 1px solid #e1e1e1;
}

.product .product-img {
    max-width: 85px;
    background-color: rgba(245, 245, 220, 0.61);
    padding: 13px;
}

.product .content {
    /* border: 1px solid green; */
    padding-left: 20px;
    padding-right:  10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.product .content .title-product {
    font-size: 0.85rem;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .content-bottom .quantity {
    display: flex;
    column-gap: 4px;
    border: 1px solid var(--LightGray);
    border-radius: 99px;
    align-items: center;
}

.content .content-bottom .quantity > i {
    padding: 8px 12px;
    font-size: 0.6rem;
    cursor: pointer;
}

.content .content-bottom .quantity > span {
    font-size: 0.85rem;
}

.content .content-bottom .price {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}

.cart-center .product > i {
    font-size: 1.4rem;
    color: var(--LightGray);
    cursor: pointer;
}
/* End: Product */

/* Begin: Cart Bottom */
.mini-cart .cart-bottom {
    margin-top: 10px;
    padding: 0 25px;
}

.mini-cart .cart-bottom .total {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
}

.cart-bottom .total > .total-price {
    color: rgb(255, 100, 43);
}

.cart-bottom .cart-bottom-desc {
    font-size: 0.8rem;
    padding: 10px 0;
    color: var(--LightGray);
}

.cart-bottom > .btn {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.cart-bottom > .btn:first-of-type {
    border: 1px solid var(--LightGray);
    color: var(--LightGray);
}

.cart-bottom > .btn:last-of-type {
    background-color: var(--LightBlue);
    color: #fff;
}

.cart-bottom > .btn:hover {
    opacity: 0.8;
}

.cart-bottom > .btn:active {
    transform: scale(0.95);
}

.cart-bottom .transport {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    font-weight: bold;
}

.cart-bottom .transport > .truck-fast {
    font-size: 1.5rem;
    color: var(--LightBlue);
    border: 1px solid var(--LightBlue);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 52px;
    border-radius: 50%;
}
/* End: Cart Bottom */