#tableCart {
    background: #fff;
    border-radius: 6px;
    margin-top: 16px;
}

.btnPay {
    font-weight: 700;
    color: #fff;
    background:  var(--primary);
    padding: 8px 16px;
    border-radius: 6px;
    text-wrap: nowrap;
    margin-top: 10px;
}