@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin my($top, $bottom: 0) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}