* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root {
    --DarkTurquoise: #00CED1;
    --LightCyan: #E0FFFF;
    --text: rgba(0, 0, 0, 0.6);
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

/* img {
    width: 100%;
    height: auto;
} */

section {
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

section .content-container {
    display: flex;
    flex-direction: column;
}

section .content-container .content-item {
    display: flex;
    column-gap: 30px;
    padding: 10px;
}

.content-container .content-item:not(.content-item:last-of-type) {
    margin-bottom: 35px;
}

.content-item .time-item,
.content-item .content {
    transition: transform .6s ease-in-out;
    text-align: end;
}

.content-item .content .title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.2rem;
}

.content-item .content .desc {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 13px 0;
    color: var(--text);
    /* font-family: 'Inter', sans-serif; */
}

.content-item .content .btn {
    font-size: 1.5rem;
    padding: 6px 12px;
    border-radius: 99px;
    background-color: #ddddddb6;
    position: relative;
    color: var(--text);
}

.content-item .content .btn::before {
    content: "";
    width: 0;
    height: 100%;
    background: #b1826e;
    border-radius: 99px;
    position: absolute;
    top: 0;
    right: 0;
    transition: width .3s ease-in-out .2s;
}

.content-item .content .btn > span {
    position: relative;
    z-index: 1;
    transition: color .3s linear .2s;
}

/* Hover */
.content-container .content-item:hover .content {
    transform: translate(calc(100% + 84px));
    text-align: start;
}
.content-container .content-item:hover .time-item {
    transform: translate(calc(-1 * (100% + 84px)));
}
.content-item:hover .content .btn::before {
    width: 100%;
    left: 0;
}
.content-item:hover .content .btn > span {
    color: #fff;
}

.content-item .col {
    position: relative;
}

.content-item:not(.content-item:last-of-type) .col::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #ddddddb6;
    position: absolute;
    top: calc(24px * 1.5);
    left: 50%;
    transform: translate(-50%);
}

.content-item .icon-item {
    --width-icon: 24px;
    --height-icon: 24px;
    width: var(--width-icon);
    height: var(--height-icon);
    border-radius: 50%;
    background: var(--LightCyan);
    line-height: 1.6;
    position: relative;
    margin-top: 1.5px;
}

.content-item .icon-item::before {
    content: "";
    width: calc(var(--width-icon) / 2.3);
    height: calc(var(--height-icon) / 2.3);
    background-color: var(--DarkTurquoise);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-item .time-item {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--text);
    /* font-family: 'Inter', sans-serif; */
}


.represent .image {
    width: 300px;
    height: 360px;
    background: url(../images/ngan_ha.jpg) gray 0 center / cover;
}

.represent .sub-image {
    max-width: 200px;
    height: 340px;
    background: url(../images/thac_nuoc.jpg);
    background-size: cover;
    transform: translate(-60%, -80%);
    position: relative;
    padding: 20px;
}

.represent .sub-image .sub-image-background {
    --padding: 20px;
    width: calc(100% - var(--padding));
    height: calc(100% - var(--padding));
    background-color: rgba(3, 3, 171, 0.95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-image .sub-image-background .text {
    position: absolute;
    bottom: 30px;
    right: 22px;
    text-align: end;
}

.sub-image-background .text > span {
    /* text_transparent */
    background: url(../images/thac_nuoc.jpg) gray 0 0 / cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 4.4rem;
    font-weight: 900;
}

.sub-image-background .text > p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6;
}