$BgColor: #8f3f65;
$BgColColor: #101204;
$BgRowColor: #22272b;
$BgHeaderColor: #6d304d;

$TitleCol: #b6c2c1;
$textColor: #b6c2cf;
$AddColor: #9fadbc;

$fontFamily: 'Roboto', sans-serif;

:root {
    --bg-color: #8f3f65;
    --bg-header-color: #6d304d;
    --bg-col-color: #101204;
    --bg-row-color: #22272b;

    --text-color: #b6c2cf;
    --title-col: #b6c2c1;
    --add-color: #9fadbc;
}