.shop {
    background: #001d3ae6;
    padding: 16px;
    margin: 32px;

    .title-page-shop {
        font-size: 1.6rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-bottom: 6px;
    }
}