$bgColor: rgba(18, 18, 18, 0.96);
$bgColor2: #010101;
$textColor: #eaeaea;
$lightViolet: #882cd0;
$mediumViolet: #602192;
$darkViolet: #411961;
$fontFamily: 'Roboto', sans-serif;
$fontTitle: 'Merriweather', serif;
$fontSubTitle: 'PT Serif', serif;

:root {
    --bg-color: #01010191;
    --bg-color2: #010101;
    --text-color: #eaeaea;
    --light-violet: #882cd0;
    --medium-violet: #602192;
    --dark-violet: #411961;
}