* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: rgb(64, 175, 249);
}

body {
    background-color: black;
}

.sign-in {
    width: 380px;
    background-color: #ccc;
    padding: 6px;
    margin: 50px auto 0;
}

.sign-in label {
    width: 30%;
    /* padding-right: 5px; */
}

.sign-in label + input {
    width: 70%;
    margin: auto 0;
    height: 19px;
    outline: none;
    border: 2px solid var(--color);
}

.sign-in select {
    border: 2px solid  var(--color);
    width: 42%;
}

.row {
    padding-top: 3px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.checked label {
    position: relative;
    top: 0;
    left: 25px;
}

.checked > label::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid var(--color);
    border-radius: 2px;
    position: absolute;
    top: 1px;
    left: -20px;
}

/* inout[type="radio"] */
.radio > label::before {
    border-radius: 50%;
}

.radio > label::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color);
    border: none;
    position: absolute;
    top: 4.5px;
    left: -17px;
    display: none;
}

/* 
- input[type="checkbox"]
- nhúng icon vào web
 */
.checkbox > label::after {
    content: "\f00c";
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: blue;
    font-size: 12px;
    position: absolute;
    top: 3px;
    left: -18px;
    display: none;
}


.checked > input {
    display: none;
}

.checked > input:checked ~ label::after {
    display: block;
}

.btn {
    text-align: center;
    padding: 10px 0;
}

.btn > button {
    padding: 3px 8px;
    border-radius: 4px;
    border: 2px solid var(--color);
}

.btn > button:active {
    transform: scale(0.9);
}

