* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;   
}

a {
    cursor: pointer;
    color: #fb923c;

    &:hover {
        opacity: 0.8;
    }
}

main {
    width: 100%;
    max-width: 1280px;
    padding: 0 24px 30px;
    margin: 0 auto;

    .subMain {
        padding: 0 12px 12px;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,.03),
        0px 2px 30px 0px rgba(0,0,0,.08),
        0px 0px 1px 0px rgba(0,0,0,.3);
        border-radius: 12px;

        .title-page {
            font-size: 2.4rem;
            text-align: center;
            padding: 22px 12px;
        }

        aside {
            .avatar {
    
                .logo_avatar {
                    max-height: 294px;
                    height: 100%;
                    background-color: #fb923c;
                    border-radius: 12px;
                    overflow: hidden;
                    transition: scale .3s ease-in-out;
                    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.03),
                    0px 2px 30px 0px rgba(0,0,0,.08),
                    0px 0px 1px 0px rgba(0,0,0,.3);
    
                    & > img {
                        transition: scale .3s ease-in-out;
                    }
    
                    &:hover {
                        scale: 1.05;
    
                        & > img {
                            scale: 1.2;
                        }
                    }
                }
    
                & > p {
                    text-align: center;
                    font-size: 1.3rem;
                    padding-top: 12px;
                }
            }
        }
    }
    
    .container {
        display: flex;
        gap: 30px;
        
        .box-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 16px;
    
        }
    }

    .sub-title {
        font-size: 2.4rem;
        text-align: center;
    }
}