* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

section {
    max-width: 800px;
    background-color: #fff;
    margin: 50px auto 0;
    text-align: center;
    padding: 30px 40px;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 64px;
    padding: 20px 0;
}

.sub-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    flex: 1;
    padding: 10px;
}

input {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-family: "Bebas Neue", sans-serif;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
}

input::placeholder {
    color: #333;
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-family: 'Alfa Slab One', cursive;
    padding: 10px 20px;
    font-size: 20px;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 6px;
}